# Dependencies
node_modules/
package-lock.json

# Database
database.db
*.db

# Uploads
uploads/
*.jpg
*.jpeg
*.png
*.mp4
*.webm
*.mov

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/
